<%- include ('partials/admin/head.ejs') %> 
<%- include ('partials/admin/navbar.ejs') %> 
<%- include ('partials/admin/header.ejs') %> 
<%- include ('partials/admin/jumbotron.ejs') %> 
     
<div class=" container-fluid   container-fixed-lg">


</div>

<%- include ('partials/admin/footer.ejs') %> 
<%- include ('partials/admin/foot.ejs') %> 